@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

.section-one {
    font-family: 'Francois One', sans-serif;
    background-color: #1F2937;
    height: 600px;
    padding-left: 300px;
    padding-right: 300px;   
    display: flex;
    flex-direction: column;
}
    .header {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
        .header-logo {
            font-size: 24px;
            color: #F9FAF8;
        }
        ul {
            display: flex;
            margin-left: auto;
            column-gap: 20px;
        }
        .header ul {
            list-style-type: none;
        }

    .section-one-body {
        display: flex;
        gap: 50px;        
        margin-top: auto;
        margin-bottom: auto;
    }
        .left-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 8px;
        }
            .hero-main {
                font-size: 48px;
                font-weight: 900;
                color: #F9FAF8;
            }
            .hero-secondary, ul {
                font-size: 18px;
                color: #E5E7EB;
            }
            button {
                color: #F9FAF8;
                background-color: #3882F6;
                font-size: 18px;
                padding: 5px 20px;
                border-radius: 10px;
            }
        img {
            width: 500px;
            height: auto;
        }
.section-two {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section-two-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 10px 100px 10px;
    }
        .section-two-title {
            font-size: 36px;
            font-weight: bolder;
            color: #1F2937;
            padding: 10px;
            margin-bottom: 40px;
        }
        .quad-container {
            display: flex;
            justify-content: space-around;
            gap: 40px;
        }
            .img-text img {
                width: 200px;
                height: 200px;
                border: 5px #3882F6 solid;
                border-radius: 15px;
            }
            .img-text {
                text-align: center;
                width: 200px;
            }
.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .quote-container {
        margin: 100px 400px;
    }
        .quote {
            font-size: 36px;
            color: #1F2937;
            font-weight:lighter;
            font-style: italic;
        }
        .quote-from {
            font-weight: bold;
            text-align: right;
        }
.section-four {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}
   .action-box {
       background-color: #3882F6;
       display: flex;
       border-radius: 10px;
       padding: 45px 100px;
       margin: 80px;
       column-gap: 100px;
    } 
        .action-text {

        }
            .action-text .top {
                font-size: 24px;
                font-weight: 700;
                color: white;
            }
            .action-text .bottom {
                font-size: 18px;
                color: #E5E7EB;
            }
        .action-box button {
            border: 2px white solid;
        }
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
    .footer-text {
        color: #F9FAF8;
        margin: 50px auto;
    }